// Place all the styles related to the Administradors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#listado-administradores {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}


.contenedor_listado{
  margin-left: auto;
  margin-right: auto;
}

.nombre-administrador{
  font-size: 15px;
  margin-left: 20px;
  margin-right: auto;
}

.btn_administrador{
  margin-left: auto;
  margin-right: 15px;
}

.administrador {
  display: flex;
  align-items:center;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 5px;
  background-color: white;
  margin-bottom: 5px;
  width: 500px;
  color: black;
}

