// Place all the styles related to the Coveets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#tabla_coveets {
  font-size: 20px;
}