// Place all the styles related to the Coveets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.side_panel{
  width: 15%;
  height: 600px;
  background-color: white;
}


#fila_principal{
  display: flex;
}


#listado_coveets {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  margin-right: 15%;
}


.contenedor_listado{
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}


.coveet {
  padding-left: 10px;
  background-color: white;
  margin-bottom: 5px;
  width: 500px;
  color: black;
}


.likes_coveet{
  margin-right: 10px;
  text-align: end;
  align-self: flex-end;
  justify-self: flex-end;
  font-size: 15px;
}


.cuerpo_coveet{
  font-size: medium;
}


.autor_coveet{
  font-size: 15px;
  margin-left: 15px;
  margin-top: 15px;
}


.footer_coveet{
  display: flex;
  justify-content: flex-end;
}


.btn_coveet{
  margin-right: auto;
}


.header_coveet{
  display: flex;
  margin-top: 10px;
}
