// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#contenedor_login{
  margin-top: 50px;
  text-align: center;
}

#fusername{
  margin-bottom: 10px;
}

#fpassword{
  margin-bottom: 10px;
}