// Place all the styles related to the Usuarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#listado-usuario {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}


.contenedor_listado{
  margin-left: auto;
  margin-right: auto;
}

.nombre-usuario{
  font-size: 15px;
  margin-left: 20px;
  margin-right: auto;
}

.btn_usuario{
  margin-left: auto;
  margin-right: 15px;
}

.usuario {
  display: flex;
  align-items:center;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 5px;
  background-color: white;
  margin-bottom: 5px;
  width: 500px;
  color: black;
}


#formulario_usuario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.67);
  padding: 20px;
}


.campo_usuario{
  text-align: center;
  margin-bottom: 10px;
}
