<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Acceso a su cuenta</h1>
<p>
  Se ha producido un acceso a su cuenta el <%= DateTime.now %>,
  si no ha sido usted cambie su contraseña inmediatamente.
</p>
</body>
</html>
